@charset "UTF-8";

/* 1:1 문의 */

/* inq 공통 */
.ta_r {float:right;}
.btn-inqWrite {background-color: #58a6a6 !important; border-color: #58a6a6 !important; color: #ffffff !important; transition: all 0.7s ease-out;}
.btn-inqWrite:hover {color:#fff; text-decoration:none; background-color:#0c7070 !important; border-color: #0c7070 !important;}
.inqBtnBox {margin-bottom: 80px; display:inline-flex;}	/* 버튼 박스 */
.inqBtnBox > button {display:inline-block;}
.inqBtnBox > button + button {margin-left:10px;}
.hidden {display:none; text-indent:-9999px; opacity:0;}
.btn-inqList {background-color: #704224 !important; border-color: #704224 !important; color: #fff !important;}


/* 컨텐츠 부분 */
.inq_tit {}
.inq_tit > h1{font-size: 24px; text-align: left; margin-bottom: 40px;}


/* getInqList 페이지 부분 */
.inquiry_searchBox {text-align:right; margin-bottom:30px;}
.inquiry_searchBox > form {display:inline-flex;}
.inquiry_searchBox > form > * {display:inline-block; margin-right:5px;}
.inquiry_searchBox > form > *:last-child {margin-right:0 ;}
.inquiry_searchBox .inqSearchSelect {height:40px; font-size:16px; min-width: 80px; padding: 0 5px;}
.inquiry_searchBox .inqSearchInput {height:40px; font-size:16px; text-indent:10px;}
.inquiry_searchBox .gblueBtn {margin-left:30px;}

.inqListTable {}
.inqListTable table {}
.inqListTable table tr th {font-size:16px;}
.inqListTable table tr td {font-size:14px;}
.inqListTable table tr td a {color:#666;}
.inqListTable table tr td a:hover {color:#000;}

.table-bordered {width: 100%;}
.table-bordered th, td {text-align:center;}
.table-bordered .title {text-align:left;}

/* insertInq 페이지 부분 */
.inqInfoBox {}
.inqInfoBox .input-group-text {width:100px;}
.inqInfoBox input {width:calc(100% - 100px);}
.inqInfoBox textarea{width:calc(100% - 100px); resize:none;}
.inquiry_fileBtn {border: 1px solid #ced4da; border-radius: 0.25rem; padding: 2px 12px;}
.inqInfoBox input::file-selector-button {width:100px; height:32px;}
.inq_fileNameText {width: calc(100% - 100px); text-align: left; border: 1px solid #ced4da; border-radius: 0.25rem; padding: 2px 12px;}
    

/* 페이징 부분 */
.inq_pgBtnBox {}
.inq_pgBtnBox .btn-group > button + button {margin-left:5px !important; border-radius: 0.25rem !important;}
.inq_pgBtnBox .btn-primary {background:#704224; color:#fff; border:0;}
.inq_pgBtnBox .btn-primary:hover, .pgBtnBox .btn-primary:click, .pgBtnBox .btn-primary:focus {background:#bd845e;}


/* 하단 버튼 부분 */
.inquiryFixBox {position: fixed; right: 20px; bottom: 50px; z-index:100;}
.inquiryFixBtn {width: 50px; height: 50px;background: #2a0e11;font-size: 11px;font-weight: 500;color: #f9c48f; border-radius: 25px;  transition: all 0.3s ease-out;}
.inquiryFixBtn:hover {width:80px; font-size:16px; /*transition-duration:0.5s;*/}