@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* 고객센터 임시 css입니다 */

h1 {display: block; font-size: 3em !important; margin-top: 0.67em !important; margin-bottom: 0.67em !important; margin-left: 0 !important; margin-right: 0 !important; font-weight: bold !important;}

#menu-bar {width: 250px;  padding-left: 15px;}
.menu-list {padding: 0px; list-style: none;}
.menu-list li{padding: 0px; font-family: 'Noto Sans KR', sans-serif; font-size: 18px; font-weight: normal;}
.menu-list li:first-child {margin: 20px 0px;}
/* 메뉴바 */
a:link {color : block; text-decoration: none;}
a:visited{color #666;  text-decoration: none;}
a:hover{color:purple;  text-decoration: none;}
a:active{color:red;    text-decoration: none;}

/* QnaContent.jsp */
.serviceContent thead .th01,th02,th03,th04 {background-color: #eee;  text-align: center;}
.serviceContent thead .th01,th02,th03,th04 {width:100px;}

/* QnaList.jsp */
.qnaTable thead { background-color: #eee;  text-align: center;}
.qnaTable thead .th01{width: 10px; }  
.qnaTable thead .th02{width: 75px; }  
.qnaTable thead .th03{width: 15px; }  
.qnaPage {display: flex;}
.qnaBar {width: 200px;}
.qnaTotal {width: 100%;}
.serviceTotal {width: 100%;}
.searchTool {display: flex; justify-content: right;}
.searchSelect, .searchInput, .searchSubmit {height: 30px;}
.searchInput {border: 1px solid #000;}
.searchInput:hover {border: 1px solid #000;}
.searchInput:focus {border: 1px solid #000;}
.searchSubmit {padding: 0px 12px;}
.searchInput { margin : 10px auto;}

/* ServiceList.jsp */
.serviceTable thead { background-color: #eee;  text-align: center;} 
.serviceTable thead .th01{width: 100px; }  
.serviceTable thead .th02{width: 450px; }  
.serviceTable thead .th03{width: 100px; }  
.serviceTable thead .th04{width: 150px; } 
.serviceTable thead .th05{width: 100px; } 
.servicePage {display: flex;}
.serviceBar {width: 200px;}
.serviceTotal {width: 100%;}
.searchTool {display: flex; justify-content: right;}
.searchSelect, .searchInput, .searchSubmit {height: 30px;}
.searchInput {border: 1px solid #000;}
.searchInput:hover {border: 1px solid #000;}
.searchInput:focus {border: 1px solid #000;}
.searchSubmit {padding: 0px 12px;}
.searchInput { margin : 10px auto;}




