@charset "UTF-8";

/*  trade.jsp */
/*  TradeInsert.jsp */
.custom-select{	border-radius: 0;}
div#proBox{	margin-top: auto !important;}
.form-control{	border : 1px solid rgba(88,166,166,0.4);	border-radius: 0;}
.imgBox{	margin : 0 auto;	padding : 0 auto;	text-align: center;}
.input-group-text{	background-color :  rgba(88,166,166,0.4) ;}
.media{	border-top : 1px solid rgba(88,166,166,0.4);	border-bottom: 1px solid rgba(88,166,166,0.4);}
#imgage-show{text-align : center;} 

/* tradelist.jsp */
.content-container .wrap{/* 	border : 1px solid #ddd; */}
.content-container .warp .sectionBox{}
.content-container .warp .sectionBox .flexContainer{display : table; flex-wrap: wrap; width: calc(100% + 50px); margin-left: -25px;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer{display: inline-block; width : 300px; height:320px; padding: 8px; margin: 0 25px; border-radius: 15px; border: 2px solid #581919 !important;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer:hover {border: 2px solid #af9999 !important; background-color : rgba(88,166,166,0.2);} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listContainerhover:hover::after{	background-color : rgba(88,166,166,0.2);}
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent{border-top : 1px solid #ddd; padding-top:10px; margin:10px;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > h4 {font-size: 14px; display: inline-block;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > h4 > span {display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 258px;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > p {font-size: 14px; display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 258px;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > p.trade_areaInfo {} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > p.trade_areaInfo > i {font-size: 13px; font-style:normal;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent .untitledchoco{ width : 250px; }
 .content-container .warp .sectionBox .flexContainer .listcontainer:first-child {margin-top:0 !important;} /* 2022.05.03 수정 */
 .content-container .warp .sectionBox .flexContainer .listcontainer:nth-child(3n+1) {margin-top:30px;} /* 2022.05.03 수정 */
 
  /* hd menu Bar */
 .menuBox .container .categoryList {position : relative; font-size : 16px;}
 .menuBox .container .categoryList .menuLink{ position :absolute; right : 0px; top : 8px; }
 .menuBox .container .categoryList .menuLink:hover{ cursor: default; position :absolute; right : 120px; top : 8px; }
 .menuBox .container .categoryList .categoryItem { margin :  auto 0; }
 .menuBox .container .categoryList .categoryItem :hover { margin :  auto 0;  color : #58a6a6;}
 .menuBox .container .categoryList .categoryItem .categoryToggle { float : left; margin : auto 0; heigth:50px; line-height:50px;}
 .menuBox .container .categoryList .categoryItem .categoryToggle:hover { float : left; margin : auto 0; color : #58a6a6; }
 .menuBox .container .categoryList .categoryItem .categoryToggle .categoryDropdown {}
 .menuBox .container .categoryList .categoryItem .categoryToggle .categoryDropdown #bannerContainer{ clear : both;}
 
/* usertradeprofile.jsp */
.cardBox{ margin : 0 auto;}
