@charset "UTF-8";

/* 1:1 문의 */

/* 하단 버튼 부분 */
.inquiryFixBox {position: fixed;right: 20px;bottom: 210px;}
.inquiryFixBtn {width: 50px; height: 50px;background: #2a0e11;font-size: 11px;font-weight: 500;color: #f9c48f;border-radius: 25px; transition-duration:0.5s;}
.inquiryFixBtn:hover {width:80px; font-size:16px; transition-duration:0.5s;}


/* 컨텐츠 부분 */
.inq_tit {}
.inq_tit > h1{font-size:16px;}
