@charset "UTF-8";

/*  trade.jsp */
/*  TradeInsert.jsp */
.custom-select{	border-radius: 0;}
div#proBox{	margin-top: auto !important;}
.form-control{	border : 1px solid rgba(88,166,166,0.4);	border-radius: 0;}
.imgBox{	margin : 0 auto;	padding : 0 auto;	text-align: center;}
.input-group-text{	background-color :  rgba(88,166,166,0.4) ;}
.media{	border-top : 1px solid rgba(88,166,166,0.4);	border-bottom: 1px solid rgba(88,166,166,0.4);}


/* tradelist.jsp */
.sectionBox{	width : 1000px;}
.flexContainer{display: table;/* display: flex; */ flex-wrap: wrap; width: calc(100% + 50px); margin-left: -25px;}
.listcontainer{width: 300px; padding: 10px; border-radius: 15px; border: 1px solid #cfdddd; display: inline-block; border-color: #cfdddd !important; margin: 0 25px;}
.listcontainer:first-child {margin-top:0 !important;}
.listcontainer:nth-child(3n+1) {margin-top: 50px;}
.listcontainer:hover {border-radius: 15px; 	background-color : rgba(88,166,166,0.2); border-color: #fff !important;}
.listContainerhover:hover::after{	background-color : rgba(88,166,166,0.2);}
.textcontent{	border-top : 1px solid #ddd;	padding : 5px;	margin : 10px;}
 .untitledchoco{ width : 250px; }
/* usertradeprofile.jsp */
.cardBox{ margin : 0 auto;}

.listContainerhover {width: 280px; position: relative; height: 149px; overflow: hidden;}
.trade-img {width: 280px; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}



/* 모바일 */
@media screen and (max-width: 1100px) {
	#bannerContainer .slick-background .bannerWrap {margin: 20px auto;}
}
